.card {
  position: relative;
}

.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__image:hover,
.card__image:focus {
  opacity: 0.95;
  transform: translateY(-1px);
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 0 0;
}

.card__title {
  margin: 0;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.card__delete-button {
  background-image: url(../images/delete.svg);
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-color: transparent;
  opacity: 1;
  border: none;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/delete-hover.svg);
  opacity: 1;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  background-color: transparent;
  opacity: 0.4;
  border: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/liked-active.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.5;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 228px;
    font-size: 16px;
    line-height: 1;
  }
}
