.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  padding: 0;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  background-image: url(../images/closelogo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
}

.modal__close-btn_type_preview {
  background-image: url(../images/previewX.svg);
  top: 0;
  right: -52.5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  opacity: 1;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.5;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  line-height: 110.00000000000001%;
  color: #212121b2;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #21212166;
  border-radius: 8px;
  padding: 16px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  padding: 18px 58px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #212121;
  color: #fcf5e5;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  margin: 0;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  position: absolute;
  background-color: #212121;
  border-radius: 8px;
  left: 0;
  top: calc(100% + 10px);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 480px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__title {
    margin: 0 0 24px;
    font-size: 20px;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }
}

@media screen and (max-width: 627px) {
  /* placed below the 480px media query to avoid being overwritten., */
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: 100vw;
  }
}
